body {
    margin: 0.5rem;
    padding: 13rem;
    background-color: #fff;
    color: #929191;
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background: linear-gradient(rgb(26, 29, 42), rgba(41, 44, 59, 0.917)), 
                url('./backgroundImage.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #b8b8b9;
    margin-bottom: 2rem;
}

button {
    font-size: 1rem;
    background-color: #064ee8;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.3rem 
}

input {
    font-size: 1rem;
    padding: 0.9rem 15%;
    border-radius: 0.8rem;
    margin-left: 11%;
    border: 0.1rem solid #ddd;
}

.message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none; 
}

.message {
    pointer-events: auto; 
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    color: #fff;
    text-align: center;
    max-width: 90%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.error {
    background-color: #d9534f;
}

.success {
    background-color: #5cb85c; 
}

@media (max-width: 600px) {
    body {
        font-size: 0.9rem; 
        padding: 1rem; 
    }
    
    h1 {
        margin-bottom: 1rem;
    }

    input, button {
        font-size: 0.9rem; 
        padding: 0.7rem 1rem; 
        margin-left: 0.5rem; 
        margin-right: 0.5rem;
    }

    .message {
        font-size: 0.8rem; 
    }
}