body {
    margin: 10px;
    padding: 200px;
    background-color: #fff;
    color: #929191;
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background: linear-gradient(rgb(26, 29, 42), rgba(41, 44, 59, 0.917)), 
                url('./backgroundImage.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #b8b8b9;
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    background-color: #064ee8;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

input {
    font-size: 1rem;
    padding: 13px 90px;
    border-radius: 15px;
    margin-left: 40px;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
}