body {
    margin: 0.5rem;
    padding: 13rem;
    background-color: #fff;
    color: #929191;
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background: linear-gradient(rgb(26, 29, 42), rgba(41, 44, 59, 0.917)), 
                url('./backgroundImage.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #b8b8b9;
    margin-bottom: 10rem;
}

button {
    font-size: 1rem;
    background-color: #064ee8;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1%;
}

input {
    font-size: 1rem;
    padding: 0.9rem 15%;
    border-radius: 0.8rem;
    margin-left: 11%;
    border: 0.1rem solid #ddd;
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
        padding: 1rem;
    }
}