.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #b8b8b9;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    height: 3.1rem;
    width: auto;
}

.todo-text {
    margin-left: auto; 
    color: #333; 
    font-size: 1.5rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}