.ListItem {
    background-color: #111728ee;
    border: 0.1rem solid #b8b8b97e;
    padding: 0.5rem 2rem;
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.removeButton {
    background-color: transparent;
    border: none;
    color: rgba(197, 2, 2, 0.73);
    cursor: pointer;
}

.removeButton:hover {
    color: red;
}

.actions {
    display: flex;
    align-items: center;
}

.actions input[type="checkbox"] {
    margin-right: 20%;
}
